.navbar-light .navbar-nav .nav-link
{
    color: var(--secondary-color);
}
.navbar-light .navbar-nav .nav-link.active-link
{
    color: var(--primary-color);
    text-decoration: underline;
}
.navbar navbar-expand-lg navbar-light bg-light{
    color: white;
    background-color:black;
}